// font size mobile
$title-mb: 40px; $subtitle-mb: 24px; $text-mb: 20px;
// font size tablet
$title-tb: 40px; $subtitle-tb: 26px; $text-tb: 22px;
// font size pc
$title-pc: 40px; $subtitle-pc: 28px; $text-pc: 26px;
// media width
$width-mb: 320px; $width-tb: 768px; $width-pc: 1280px; $max-width-pc: 1500px;
// media padding
$padding-mb: 20px; $padding-tb: 35px; $padding-pc: 80px;