@import "../../../variables.scss";

.content {
    & li>:first-child::before {
        content: "";
        width: 1ch;
        height: 1ch;
        display: inline-block;
        margin-right: 20px;
        border-radius: 50%;
        background: #555555;
    }
    & li h1 {
        margin-bottom: 10px;
        font-size: $subtitle-mb;
        font-family: "Roboto Medium", Arial, Helvetica, sans-serif;;
    }
    & li, p {
        margin-bottom: 45px;
        &:last-child { margin-bottom: 0; }
    }
    & img {
        width: 100%;
        max-width: 720px;
        display: block;
        margin: auto;
        margin-top: 35px;
    }
}


@media (min-width: $width-tb) {
    .content {
        & li h1 { font-size: $subtitle-tb; }
    }
}
@media (min-width: $width-pc) {
    .content {
        & li h1 { font-size: $subtitle-pc; }
    }
}